<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary">
	<table class="section_title">
		<tbody>
			<tr>
				<td class="td_right">
				  	<a data-anchor="dues" name="dues" style="text-decoration: none; color: inherit;">
				  		חשבוניות
				  	</a>
			  	</td>
			  	<td class="td_left">
			  		<% if @control %> 			
						<span class="pull-left"><%= link_to  'Add Bill Due', new_customer_newsletter_bill_path(@customer, @newsletter, section: params[:section]), class: 'btn btn-mini' %></span>
			  		<% else %>
			  			<span class="pull-left"><%= link_to "חזור", "#highlights_dues", class: 'back_link' %></span>
			  		<% end %>
		  		</td>
	  		</tr>			  		
		</tbody>
	</table>

  </div>
  <div class="panel-body">
    <p>מועד התשלום של החשבוניות הבאות  קרב. לחץ על הקישור המתאים ושלם ישירות מהאימייל .</p>
  </div>

  <!-- Table -->
  <table id="bills" class="data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>ימים לשלם</th>
            <th>פעולות</th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.dues.includes(:bill, :supplier, :lines).order(created_at: :asc).each do |due| %>
        		<% next unless due.bill %>
				<%= render 'dues_panel_due', due: due %>
			<% end %>
        </tbody>
  </table>
</div>