<table id="findings" class="jumbo" style="background-color: #f9f9f9 !important;" bgcolor="#f9f9f9">
	<tr>
		<td>
			<a name="findings"><h1 id="findings_title" style="color: #000000 !important; line-height: 120px !important;"><%= @version.header_title %></h1></a>			
		</td>
	</tr>
	<tr>
		<td>
			<p class="margin">
				<a href="#" id="findings_sentence" data-pk="1" data-mode="popup" data-editable-field="true" data-type="textarea" name="findings_sentence" data-url="/campaigns/18/versions/41/modify" data-title="findings sentence">
				מדי שבוע, בילביז סורקת את החשבוניות שלך ומוצאת עבורך דרכים חדשות ומלהיבות לחסוך ולשפר את ביצועי העסק שלך. ראה מה מצאנו עבורך השבוע:
				</a>
			</p>	
		</td>
	</tr>
	<tr>
		<td>
			<table class="findings jumbo" style="background-color: #f9f9f9 !important;" bgcolor="#f9f9f9">
				<tbody class="jumbo">
					<% @newsletter.plans.order(created_at: :asc).each do |plan| %>
						<tr class="margin" bgcolor="#f9f9f9" style="background-color: #f9f9f9 !important;">
							<td style="text-align: right">
								<span class="margin"><%= plan.findings %></span> 
							</td>
							<td class="margin" style="text-align: left">
								<span class="margin"><%= link_to "ראה כיצד", "#plans", class: "highlights_link", style: "color: #0000ff;" %></span>
							</td>						
						</tr>
					<% end %>
				</tbody>
			</table>		
		</td>
	</tr>
</table>