<div id="findings" class="jumbo" style="background-color: #f9f9f9 !important;" bgcolor="#f9f9f9">
	<a name="findings"><h1 id="findings_title" style="color: #000000 !important;"><%= @version.header_title %></h1></a>
	</br>
	<p id="findings_sentence">מדי שבוע, בילביז סורקת את החשבוניות שלך ומוצאת עבורך דרכים חדשות ומלהיבות לחסוך ולשפר את ביצועי העסק שלך. ראה מה מצאנו עבורך השבוע:</p>
	<table class="findings jumbo" style="background-color: #f9f9f9 !important;" bgcolor="#f9f9f9">
		<tbody>
			<% @newsletter.plans.order(created_at: :asc).each do |plan| %>
				<tr bgcolor="#f9f9f9" style="background-color: #f9f9f9 !important;">
					<td style="text-align: right">
						<%= plan.findings %>
					</td>
					<td style="text-align: left">
						<%= link_to "ראה כיצד", "#plans", class: "highlights_link", style: "color: #0000ff;" %>
					</td>						
				</tr>
			<% end %>
		</tbody>
	</table>
</div>