<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary clearfix">
 	<table class="section_title">
			<tr>
				<th class="td_right" style="text-align: right">
					<%= image_tag "checklist-128.png", class: "section_title_logo", size: "48x48" %>
 					<a data-anchor="notifications" name="notifications" class="section_title_name", style="text-decoration: none; color: inherit;">
  						הודעות
  					</a>
			  	</th>
			  	<th class="td_left" style="text-align: left">
			  		<% if @control %> 			
						<span class="pull-left"><%= link_to  'Add Bill Notification', new_customer_newsletter_bill_path(@customer, @newsletter, section: params[:section]), class: 'btn btn-mini' %></span>
			  		<% else %>
			  			<span class="pull-left"><%= link_to "חזור", "#highlights_notifications", class: 'back_link' %></span>
					<% end %>
		  		</th>
	  		</tr>			  		
	</table>
  </div>
  <div class="panel-body">
    <p>בילביז סרקה את חשבונך ומצאה דברים שדורשים את תשומת לבך  </p>
  </div>

  <!-- Table -->
  <table id="bills" class="data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>סכום קודם</th>
            <th>חריגים</th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.notifications.includes(:bill, :supplier, :lines, :charges).order(created_at: :asc).each do |notification| %>
        		<% next unless notification.bill %>
				<%= render 'notifications_panel_charge', notification: notification %>
			<% end %>
        </tbody>
  </table>
</div>