<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary clearfix">
  	<a data-anchor="notifications" name="notifications" style="text-decoration: none; color: inherit;">
  		<span class="pull-right">הודעות</span>
  	</a>
  		<span class="pull-left"><%= link_to "חזור", "#highlights_notifications", class: 'back_link' %></span>
  </div>
  <div class="panel-body">
    <p>בילביז סרקה את חשבונך ומצאה דברים שדורשים את תשומת לבך  </p>
  </div>

  <!-- Table -->
  <table id="bills" class="data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>סכום קודם</th>
            <th>חריגים</th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.notifications.includes(:bill, :supplier, :lines, :charges).order(created_at: :asc).each do |notification| %>
        		<% next unless notification.bill %>
				<%= render 'notifications_panel_charge', notification: notification %>
			<% end %>
        </tbody>
  </table>
</div>