<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary"><a data-anchor="bills" name="bills" style="text-decoration: none; color: inherit;">הודעות</a></div>
  <div class="panel-body">
    <p>בילביז סרקה את חשבונך ומצאה דברים שדורשים את תשומת לבך  </p>
  </div>

  <!-- Table -->
  <table id="bills" class="data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תאריך</th>
            <th>סכום</th>
            <th>סכום קודם</th>
            <th>חריגים</th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.notifications.includes(:bill, :supplier, :lines, :charges).order(created_at: :desc).each do |notification| %>
        		<% next unless notification.bill %>
				<%= render 'notifications_panel_charge', notification: notification %>
			<% end %>
        </tbody>
  </table>
</div>