<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary clearfix">
 	<table class="section_title">
			<tr style="background-color: #bdcd3f !important; padding: 10px 15px !important; background-color: #bdcd3f !important; background-image: linear-gradient(to bottom, #F4F7DF 0%, #D2DE7D 100%) !important;" bgcolor="#bdcd3f">
				<th width="100" class="td_right" style="text-align: right">
					<%= image_tag "medal-128.png", class: "section_title_logo", size: "48x48"%>
				</th>
				<th width="368">
  					<a data-anchor="plans" name="plans" class="section_title_name", style="text-decoration: none;">
  						בילביז ממליצה
  					</a>
			  	</th>
			  	<th width="100" class="td_left" style="text-align: left">
			  		<% if @control %>
			  			<span class="pull-left"><%= link_to 'Add Plan', new_customer_newsletter_plan_path(@customer, @newsletter), class: 'btn btn-mini' %></span>
					<% else %>
			  			<span class="pull-left"><%= link_to "חזור", "#findings", class: 'back_link' %></span>
					<% end %>
		  		</th>
	  		</tr>			  		
	</table>
  </div>
  <div class="panel-body">
    <p>מערכת בילביז השוותה את חשבונך לחשבונות לקוחותינו ולמבצעים העדכניים. לפניך המלצותינו:</p>
  </div>

  <!-- Table -->
  <table class=" data table" cellspacing="0">	
        <thead>
          <tr>
            <th></th>
            <th>תכנית נוכחית</th>
            <th>תכנית מומלצת</th>
            <% if @control %>
            	<th></th>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
		<% @newsletter.plans.includes(:curr_supplier, :recc_supplier).order(created_at: :asc).each do |plan| %>
			<%= render 'plans_panel_plan', plan: plan %>
		<% end %>
        </tbody>
  </table>
</div>