<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary"><a data-anchor="recommendations" name="recommendations" style="text-decoration: none; color: inherit;">בילביז ממליצה!</a></div>
  <div class="panel-body">
    <p>מערכת בילביז השוותה את חשבונך לחשבונות לקוחותינו ולמבצעים העדכניים. לפניך המלצותינו:</p>
  </div>

  <!-- Table -->
  <table class=" data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תכנית נוכחית</th>
            <th>תכנית מומלצת</th>
            <% if @control %>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.plans.includes(:supplier).order(created_at: :asc).each do |plan| %>
				<%= render 'plans_panel_plan', plan: plan %>
			<% end %>
        </tbody>
  </table>
</div>