<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary clearfix">
  	<a data-anchor="plans" name="plans" style="text-decoration: none; color: inherit;">
  		<span class="pull-right">בילביז ממליצה!</span>
  	</a>
  		<% if @control %>
  			<span class="pull-left"><%= link_to 'Add Plan', new_customer_newsletter_plan_path(@customer, @newsletter), class: 'btn btn-mini' %></span>
		<% else %>
  			<span class="pull-left"><%= link_to "חזור", "#findings", class: 'back_link' %></span>
		<% end %>
  </div>
  <div class="panel-body">
    <p>מערכת בילביז השוותה את חשבונך לחשבונות לקוחותינו ולמבצעים העדכניים. לפניך המלצותינו:</p>
  </div>

  <!-- Table -->
  <table class=" data table">	
        <thead>
          <tr>
            <th>ספק</th>
            <th>תכנית נוכחית</th>
            <th>תכנית מומלצת</th>
            <% if @control %>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
		<% @newsletter.plans.includes(:supplier).order(created_at: :asc).each do |plan| %>
			<%= render 'plans_panel_plan', plan: plan %>
		<% end %>
        </tbody>
  </table>
</div>