<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading panel-primary"><a data-anchor="reminders" name="reminders" style="text-decoration: none; color: inherit;">תזכורות</a></div>
  <div class="panel-body">
    <p>רצינו להזכיר לך...</p>
  </div>

  <!-- Table -->
  <table class="data table">	
        <thead>
          <tr>
            <th></th>
            <% if @control %>
            	<th></th>
            	<th></th>
        	<% end %>
          </tr>
        </thead>
        <tbody>
        	<% @newsletter.reminders.order(created_at: :desc).each do |reminder| %>
				<%= render 'reminders_panel_reminder', reminder: reminder %>
			<% end %>
        </tbody>
  </table>
</div>