<h1>Listing bills</h1>

<script>
	
$(document).ready(function() {
		$.ajax({
	  		url: "<%= user_mailer_weekly_url %>",
	  		data: "customer_id=" + <%= @customer.id %> + "&newsletter_id=" + "<%= @newsletter.id %>" + "&section=bills&control=yes",
	  		success: function(result) {
	  			$('#sample').html(result);
	  	}});		

})	
	
</script>
<br>

<%= link_to 'New Bill', new_customer_newsletter_bill_path(@customer, @newsletter) %>
