.amount {
    font-weight: bold;
}

#billbeez .panel-heading {
    font-size: 24px;
    color: #888888;
}

.bill_background {
    background-color: #FDE9C9;
}

#bills td {
    border-top: none;
}

th, td {
    text-align: center;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: green;
  border-color: green;
}
.sup_logo {
     
}
.status_logo {
    
}
.data.table td {
    vertical-align: middle;
}
#billbeez .highlight_img {
    vertical-align: bottom;
}
.findings {
    width: 100%;
}
.findings td {
    text-align: right;
}
#findings_sentence {
    font-size: 1.1em;
    text-align: right;
}
.finding p{
    font-size: 0.9em;
}
