.data.table .btn {
    visibility: hidden;
}

.data.table tr:hover .btn {
    visibility: visible;
}

.back_link {
    font-size: 18px;
}

#reminder_text {
   text-align: right;
   width: 500px;
}
#billbeez td.plan {
    font-size: 18px;
}

#billbeez .notice {
    font-weight: bold;
}

#billbeez td{
    font-size: 12px;
}
.amount {
    font-weight: bold;
}

#billbeez .panel-heading {
    font-size: 24px;
    color: #888888;
}

.bill_background  {
    background-color: #FDE9C9;
}

/*
.bill_background td.control {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
}
*/
.notification_background {
    background-color: #FCF7C9;
}

.reminder_background {
/*    background-color: #ECF6A8; */
}

.plan_background {
    background-color: #F7B547;
    color: #FFFFFF;
    font-weight: bold;
}

#bills td {
    border-top: none;
}

th, td {
    text-align: center;
}
.sup_logo {
     
}
.status_logo {
    
}
.data.table td {
    vertical-align: middle;
}
#billbeez .highlight_img {
    vertical-align: bottom;
}
.findings {
    width: 100%;
}
.findings td {
    text-align: right;
}
#findings_sentence {
    font-size: 1.1em;
    text-align: right;
}
.finding p{
    font-size: 0.9em;
}
