/*
a[data-editable-field='true']:hover, a[data-editable-field='true']:active {
    outline: none;
    text-decoration: none;
    background: none;
    color: #000000;
}
*/

#suppliers_logo {
    width: 48px;
}

#billbeez .editable-input input{
    width: 480px;
    height: 30px;
}

#billbeez #dues_title_edit .editable-input input{
    width: 180px;
    height: 30px;
}

#billbeez #notifications_title_edit .editable-input input{
    width: 180px;
    height: 30px;
}
#billbeez #reminders_title_edit .editable-input input{
    width: 180px;
    height: 30px;
}


#billbeez a[name="dues_title"] .editable-input input{
    width: 280px;
    height: 30px;
}


#billbeez .editable-input .input-large{
    width: 425px !important;
    height: 30px;
}
#billbeez /* IOS-style clear button for text inputs */
.editable-clear-x {
   background: image-url('clear.png') center center no-repeat;
   display: block;
   width: 13px;    
   height: 13px;
   position: absolute;
   opacity: 0.6;
   z-index: 100;
   
   top: 50%;
   right: 6px;
   margin-top: -6px;
   
}

#billbeez .editableform-loading {
    background: image-url('loading.gif') center center no-repeat;  
    height: 25px;
    width: auto; 
    min-width: 25px; 
}


#billbeez .editable-input textarea.input-large{
}

#billbeez #bills.data.table {
    background-color: #f9f9f9 !important;
}

.section_title_element {
    margin: 0 30px;
}

#billbeez tr.detail_line td {
    font-size: 12px;
    color: #888888;
}

#billbeez tbody tr.detail_line:last-child td{
    border-bottom: 0px solid #999;
    border-collapse: collapse;
    border-spacing: 0px 0px;
}

.behind {
    color: #E64F30;
    color: #ebaa4a;
    font-weight: bold;
}

#bl_4 {
    
}

.margin {
    margin: 0 40px; 
    height: 50px;
}
h1#findings_title1 {
    margin-top: 0
}

p#findings_sentence {
    margin-bottom: 0;
}

#toolbar_bl_7 {
}


.jumbo {
    background-color: #eeeeee !important;
    background-color: #f9f9f9 !important;
    width: 600px !important;
}

.jumbo1 {
    background-color: #eeeeee !important;
    background-color: #f9f9f9 !important;
/*    padding: 10px 40px !important; */
    width: 600px !important;
}
#bl_5.jumbotron, #findings.jumbotron {
    margin-bottom: 0;
}

th.td_left {
    text-align: left;
}

th.td_right {
    text-align: right;
}

.highlights_link {
    color: #bdcd3f !important;
    text-decoration: underline !important;
    font-weight: 600;
}

#billbeez th {
    text-align: center;
}

#billbeez td {
    text-align: center;
}

.section_title_logo {
    width: 48px;
}


.section_title_name {
    font-size: 30px;
    margin-right: 18px;
    line-height: 45px;
    margin-top: 15px;
    font-weight: 100;
    color: #595959;
    text-shadow: 0 1px 0 #ffffff !important;
}

#logo {
/*    position: relative !important; */
    width: 296px !important;
    right: 136px !important;
    max-width: 296px !important;
}

td.leftmost a {
    margin-left: 8px;
}

.section_title {
    width: 100%;
    height: 60px;
}

.section_title td {
    font-size: 22px;
}

.section_title .td_right {
    text-align: right;
}

.section_title .td_left {
    text-align: left;
}

.data.table .btn {
/*    visibility: hidden; */  /* uncomment to return hover nehavior */
}

.data.table tr:hover .btn {
    visibility: visible;
}

.back_link {
/*    font-size: 18px; */
}

#reminder_text {
   text-align: right;
   width: 500px;
}
#billbeez td.plan {
    font-size: 18px;
}

#billbeez .notice {
    font-weight: bold;
}

.amount {
    font-weight: bold;
}

#billbeez .panel-heading {
    font-size: 24px !important;
    color: #888888 !important;
}

#billbeez #bill_background.bill_background  {
    background-color: #FDE9C9 !important;
    background-color: #ebce49 !important;
    background-color: #FFEC5C !important;
}

/*
.bill_background td.control {
    background-image: linear-gradient(to bottom, #f5f5f5 0%, #e8e8e8 100%);
    background-repeat: repeat-x;
}
*/
#billbeez #notification_background.notification_background {
    background-color: #FCF7C9 !important;
    background-color: #FFFFFF !important;
}

.reminder_background {
/*    background-color: #ECF6A8; */
}

#billbeez #plan_background.plan_background {
    background-color: #F7B547 !important;
    color: #FFFFFF;
    font-weight: bold;
}

#bills td {
    border: none;
}

#billbeez .table > tbody > tr > td  {
    padding: 0;
}

.sup_logo, .data.table tr {
    height: 42px;
}

.status_logo {
    
}
.data.table td {
    vertical-align: middle;
}
#billbeez .highlight_img {
    vertical-align: bottom;
}
.findings {
    width: 100%;
}
.findings td {
    text-align: right;
}
#findings_sentence {
    font-size: 1.1em;
    text-align: center !important;
}
.finding p{
    font-size: 0.9em;
}
