<!DOCTYPE html>
<html>
	<head>
    	<%= stylesheet_link_tag "application", :media => "all" %>
    	<%= javascript_include_tag "application" %>
		<script src="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/js/bootstrap-editable.min.js"></script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/x-editable/1.4.6/bootstrap-editable/css/bootstrap-editable.css" rel="stylesheet">
	</head>
	<body>
		<%= yield %>
	</body>
</html>